# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'VS2017-Win2016'

variables:
  solution: 'src/build.proj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Debug'
  NugetTargetDir: '$(Build.ArtifactStagingDirectory)'
steps:
- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: NuGetCommand@2
  inputs:
    command: 'restore' 
    restoreSolution: '**/*.sln'

- task: MSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArguments: '/t:NuGet'

- task: NuGetCommand@2
  inputs:
    command: 'push' 
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/DX/*.nupkg'
    nuGetFeedType: 'external' 
    publishFeedCredentials: 'nuget.org'

- task: NuGetCommand@2
  inputs:
    command: 'push' 
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/SelfCompiled/*.nupkg'
    nuGetFeedType: 'external' 
    publishFeedCredentials: 'PrivateNuget'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
