# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net
name: Revision-$(VersionRevision)
trigger:
- master
- DX-*

pool:
  vmImage: 'windows-2022'

variables:
  solution: 'src/build.proj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Debug'
  NugetTargetDir: '$(Build.ArtifactStagingDirectory)'
  VersionRevision: $[counter('revisionCounter', 142)]
  NetSdkVersion: '6.0.201'
  
steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    version: $(NetSdkVersion)
    packageType: 'sdk'
    includePreviewVersions: true
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: NuGetToolInstaller@1

- task: NuGetAuthenticate@1
 


- task: NuGetCommand@2
  displayName: "NuGet restore"
  inputs:
    command: restore
    restoreSolution: '**/*.sln'
    vstsFeed: 'DevExpress/Release'

- task: SonarSource.sonarcloud.14d9cde6-c1da-4d55-aa01-2965cd301255.SonarCloudPrepare@1
  displayName: 'Prepare analysis on SonarCloud'
  inputs:
    SonarCloud: 'Sonar Clp'
    organization: 'sendev'
    projectKey: 'SenDevGmbH_SenDevXafDashboards'
    projectName: SenDevXafDashboards

- task: MSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArguments: '/bl:$(Build.ArtifactStagingDirectory)\Log\build.binlog /t:NuGet /p:BuildNumber=$(VersionRevision) /p:PackageOutputPath=$(Build.ArtifactStagingDirectory) /p:TargetDevExpressVersions="$(TargetDevExpressVersions)" /p:NugetSource=$(NugetSource)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish binary log'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\Log'
    ArtifactName: 'Binary log'
    publishLocation: 'Container'
  condition: succeededOrFailed()

- task: VSTest@2
  displayName: 'VSTest - Net Framework'  
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      src\bin\**\UnitTests.dll

- task: VSTest@2
  displayName: 'VSTest - Net Core'  
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    overrideTestrunParameters: '-Framework:.NETCoreApp,Version=v6.0'
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      src\bin\**\UnitTests.NetCore.dll      
      
- task: SonarSource.sonarcloud.ce096e50-6155-4de8-8800-4221aaeed4a1.SonarCloudAnalyze@1
  displayName: 'Run Code Analysis'
- task: SonarSource.sonarcloud.38b27399-a642-40af-bb7d-9971f69712e8.SonarCloudPublish@1
  displayName: 'Publish Quality Gate Result'  

- task: NuGetCommand@2
  displayName: Push packages
  inputs:
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    command: 'push' 
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg'
    nuGetFeedType: 'external' 
    publishFeedCredentials: 'nuget.org'
