# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net
name: Revision-$(VersionRevision)
trigger:
- master
- DX-*

pool:
  vmImage: 'windows-2022'

variables:
  solution: 'src/build.proj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Debug'
  NugetTargetDir: '$(Build.ArtifactStagingDirectory)'
  VersionRevision: $[counter('revisionCounter', 142)]
  NetSdkVersion: '6.0.201'
  BinLogDirectory: $(Build.ArtifactStagingDirectory)\Log  
steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    version: $(NetSdkVersion)
    packageType: 'sdk'
    includePreviewVersions: true
    installationPath: $(Agent.ToolsDirectory)/dotnet
    
- task: NuGetToolInstaller@1

- task: NuGetAuthenticate@0

- task: NuGetCommand@2
  displayName: "NuGet restore"
  inputs:
    command: restore
    restoreSolution: '**/*.sln'
    vstsFeed: 'DevExpress/Release'

- task: MSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArguments: '/bl:$(BinLogDirectory)\build.binlog /t:NuGet /p:BuildNumber=$(VersionRevision) /p:PackageOutputPath=$(Build.ArtifactStagingDirectory) /p:TargetDevExpressVersions="$(TargetDevExpressVersions)" /p:PackageIdSuffix=".SelfCompiled" /p:NugetSource=$(NugetSource) /p:BinLogDirectory=$(BinLogDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish binary log'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\Log'
    ArtifactName: 'Binary log'
    publishLocation: 'Container'
  condition: succeededOrFailed()

- task: VSTest@3
  displayName: 'VSTest - Net Framework'  
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      src\bin\**\UnitTests.dll

- task: VSTest@3
  displayName: 'VSTest - Net Core'  
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      src\bin\**\UnitTests.NetCore.dll      

- task: NuGetAuthenticate@0
  displayName: 'NuGet Authenticate'
- task: NuGetCommand@2
  displayName: 'NuGet push'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  inputs:
    command: push
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    publishVstsFeed: 'DevExpress/Release'
    allowPackageConflicts: false

